.links{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: rgb(13, 61, 184);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(13, 61, 184);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}