.secao-projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lista-de-projetos{
    list-style-type: none;
}

.lista-de-projetos img{
    width: 85%;
    border-radius: 10px;
}

.lista-de-projetos a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.lista-de-projetos li {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}